    <!-- Header -->
    <header id="careerfy-header" class="careerfy-header-one">
        <div class="container">
            <div class="row">
                <aside class="col-md-2"> <a href="/" class="careerfy-logo"><img src="assets/images/logo.png" alt=""></a> </aside>
                <aside class="col-md-6">
                </aside>
                <aside class="col-md-4">
                    <div class="careerfy-right" ng-if="!getcurrentUser().id">
                        <ul class="careerfy-user-section">
                            <li><a class="careerfy-color careerfy-open-signin-tab" href="#">Register</a></li>
                            <li><a class="careerfy-color careerfy-open-signup-tab" href="#">Sign in</a></li>
                        </ul>
                    </div>
                    <div class="careerfy-right" ng-if="getcurrentUser().id">
                            <ul class="careerfy-user-section">
                                <li><a class="careerfy-color" ng-click="goTopage('/admin/home')"  href="">Dashboard</a></li>
                                <li><a class="careerfy-color"ng-click="signOut()" href="">logout</a></li>
                            </ul>
                        </div>
                </aside>
            </div>
        </div>
    </header>