<div class="careerfy-column-9">
        <div class="careerfy-typo-wrap">
            <div class="careerfy-employer-dasboard">
                <div class="careerfy-employer-box-section">
                    <!-- Profile Title -->
                    <div class="careerfy-profile-title">
                        <h2>Manage Admins</h2>
                        <form class="careerfy-employer-search">
                            <!-- Button trigger modal -->
                            <input class="admin_typeahead" type="text">
                            <input type="submit" value="">
                            <i class="careerfy-icon careerfy-search"></i>
                        </form>
                    </div>
                    <!-- Manage Jobs -->
                    <div class="careerfy-managejobs-list-wrap">
                        <div class="careerfy-managejobs-list">
                            <!-- Manage Jobs Header -->
                            <div class="careerfy-table-layer careerfy-managejobs-thead">
                                <div class="careerfy-table-row">
                                    <div class="careerfy-table-cell" style="width: 30%">Name</div>
                                    <div class="careerfy-table-cell" style="width: 20%"></div>
                                    <div class="careerfy-table-cell"style="width: 20%">E-Mail</div>
                                    <div class="careerfy-table-cell" style="width: 20%">Phone</div>
                                    <!-- <div class="careerfy-table-cell">Status</div> -->
                                    <div class="careerfy-table-cell" style="width: 10%"></div>
                                </div>
                            </div>
                            <!-- Manage Jobs Body -->
                            <div  class="careerfy-table-layer careerfy-managejobs-tbody">
                                <div class="careerfy-table-row">
                                    <div class="careerfy-table-cell" style="width: 30%">
                                        <input  placeholder="Name" type="text" ng-model="newAdmin.name" class="ng-pristine ng-valid ng-empty ng-touched"  style="float: left;
                                        height: 41px;
                                        border: 1px solid #eceeef;
                                        border-radius: 2px;
                                        background-color: #ffffff;
                                        padding: 6px 13px;
                                        margin: 0px;
                                        font-size: 12px;
                                        color: #777777;"
                                        >
                                        
                                    </div>
                                    <div class="careerfy-table-cell" style="width: 20%">
                                                    <input  placeholder="Password" data-toggle="tooltip"  type="text" ng-model="newAdmin.password" class="ng-pristine ng-valid ng-empty ng-touched"  style="float: left;
                                                    width: 98%;
                                                    height: 41px;
                                                    border: 1px solid #eceeef;
                                                    border-radius: 2px;
                                                    background-color: #ffffff;
                                                    padding: 6px 13px;
                                                    margin: 0px;
                                                    font-size: 12px;
                                                    color: #777777;">
                                    </div>
                                    <div class="careerfy-table-cell" style="width: 20%">
                                            <input  placeholder="Email" type="text" ng-model="newAdmin.email" class="ng-pristine ng-valid ng-empty ng-touched"  style="float: left;
                                            width: 98%;
                                            height: 41px;
                                            border: 1px solid #eceeef;
                                            border-radius: 2px;
                                            background-color: #ffffff;
                                            padding: 6px 13px;
                                            margin: 0px;
                                            font-size: 12px;
                                            color: #777777;">
                                    </div>
                                    <div class="careerfy-table-cell" style="width: 20%">
                                            <input  placeholder="Phone" type="text" ng-model="newAdmin.phone" class="ng-pristine ng-valid ng-empty ng-touched"  style="float: left;
                                            width: 98%;
                                            height: 41px;
                                            border: 1px solid #eceeef;
                                            border-radius: 2px;
                                            background-color: #ffffff;
                                            padding: 6px 13px;
                                            margin: 0px;
                                            font-size: 12px;
                                            color: #777777;">
                                    </div>
                                    <div class="careerfy-table-cell"style="width: 10%;text-align: center;">
                                        <div class="careerfy-managejobs-links">
                                                <a class="careerfy-icon" ng-click="addNewAdmin()"><i class="fa fa-check" aria-hidden="true"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div ng-repeat="admin in admins" class="careerfy-table-layer careerfy-managejobs-tbody">
                                <div class="careerfy-table-row">
                                    <div class="careerfy-table-cell" style="width: 30%">
                                        <h6 ng-if="!admin.editMode"><a href="">{{admin.name}}</a></h6>
                                        <input ng-if="admin.editMode" placeholder="Name" type="text" ng-model="admin.name" class="ng-pristine ng-valid ng-empty ng-touched" ng-keypress="updateAdminKeyPressed(admin, $event)" style="    float: left;
                                        height: 41px;
                                        border: 1px solid #eceeef;
                                        border-radius: 2px;
                                        background-color: #ffffff;
                                        padding: 6px 13px;
                                        margin: 0px;
                                        font-size: 12px;
                                        color: #777777;"
                                        >
                                        
                                    </div>
                                    <div class="careerfy-table-cell" style="width: 20%">
                                                    <input ng-if="admin.editMode" placeholder="Password" data-toggle="tooltip" title="Leave blank, password will not be updated" type="text" ng-model="admin.password" class="ng-pristine ng-valid ng-empty ng-touched" ng-keypress="updateAdminKeyPressed(admin, $event)" style="    float: left;
                                                    width: 98%;
                                                    height: 41px;
                                                    border: 1px solid #eceeef;
                                                    border-radius: 2px;
                                                    background-color: #ffffff;
                                                    padding: 6px 13px;
                                                    margin: 0px;
                                                    font-size: 12px;
                                                    color: #777777;">
                                    </div>
                                    <div class="careerfy-table-cell" style="width: 20%">
                                            <a href="" class="careerfy-managejobs-appli" ng-if="!admin.editMode">{{admin.email}}</a>
                                            <input ng-if="admin.editMode" placeholder="Email" type="text" ng-model="admin.email" class="ng-pristine ng-valid ng-empty ng-touched" ng-keypress="updateAdminKeyPressed(admin, $event)" style="    float: left;
                                            width: 98%;
                                            height: 41px;
                                            border: 1px solid #eceeef;
                                            border-radius: 2px;
                                            background-color: #ffffff;
                                            padding: 6px 13px;
                                            margin: 0px;
                                            font-size: 12px;
                                            color: #777777;">
                                    </div>
                                    <div class="careerfy-table-cell" style="width: 20%">
                                            <a href="" class="careerfy-managejobs-appli" ng-if="!admin.editMode">{{admin.phone}}</a>
                                            <input ng-if="admin.editMode" placeholder="Phone" type="text" ng-model="admin.phone" class="ng-pristine ng-valid ng-empty ng-touched" ng-keypress="updateAdminKeyPressed(admin, $event)" style="    float: left;
                                            width: 98%;
                                            height: 41px;
                                            border: 1px solid #eceeef;
                                            border-radius: 2px;
                                            background-color: #ffffff;
                                            padding: 6px 13px;
                                            margin: 0px;
                                            font-size: 12px;
                                            color: #777777;">
                                    </div>
                                    <!-- <div class="careerfy-table-cell"><i class="fa fa-star-o"></i></div> -->
                                    <!-- <div class="careerfy-table-cell"><span class="careerfy-managejobs-option">Pending</span></div> -->
                                    <div class="careerfy-table-cell"style="width: 10%">
                                        <div class="careerfy-managejobs-links">
                                            <!-- <a href="#" class="careerfy-icon careerfy-view"></a> -->
                                            <a class="careerfy-icon careerfy-edit" ng-click="updateAdmin(admin)"></a>
                                            <a class="careerfy-icon careerfy-rubbish" ng-click="deleteAdmin(admin)"></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Manage Jobs Body -->
                        </div>
                    </div>
                    <!-- Pagination -->
                    <div class="careerfy-pagination-blog">
                            <ul class="page-numbers">
                                    <li ng-click="getManageAdminsPage(currentPageNumberInAdminsPage - 1)"><a class="prev page-numbers" href=""><span><i class="careerfy-icon careerfy-arrows4"></i></span></a></li>
                                    <li ng-repeat="pages in  [].constructor(numberOfPagesInAdminsPage) track by $index " ng-click="getManageAdminsPage($index + 1)"><span style="cursor: pointer;" ng-class="{'current':$index + 1  === currentPageNumberInAdminsPage}" class="page-numbers ">{{ $index + 1 }}</span></li>
                                    <li ng-show="currentPageNumberInAdminsPage + 1 <= numberOfPagesInAdminsPage"ng-click="getManageAdminsPage(currentPageNumberInAdminsPage + 1)" ><a class="next page-numbers" href=""><span><i class="careerfy-icon careerfy-arrows4" ></i></span></a></li>
                                    <li ng-show="currentPageNumberInAdminsPage + 1 > numberOfPagesInAdminsPage"><a class="next page-numbers" href=""><span><i class="careerfy-icon careerfy-arrows4" ></i></span></a></li>
                                </ul>
                    </div>
    
                </div>
            </div>
        </div>
    </div>
    
    </div>
    