<div class="careerfy-column-9">
    <div class="careerfy-typo-wrap">
        <div class="careerfy-employer-dasboard">
            <div class="careerfy-employer-box-section">
                <!-- Profile Title -->
                <div class="careerfy-profile-title">
                    <h2>Manage Jobs</h2>
                    <form class="careerfy-employer-search">    
                        <input ng-model="jobSearchQuery" ng-enter="filterJobs(jobSearchQuery)" class="job_typeahead" type="text">
                        <input ng-click="filterJobs(jobSearchQuery)" type="submit" value="">
                        <i class="careerfy-icon careerfy-search"></i>
                    </form>
                </div>
                <!-- Manage Jobs -->
                <div class="careerfy-managejobs-list-wrap">
                    <div class="careerfy-managejobs-list">
                        <!-- Manage Jobs Header -->
                        <div class="careerfy-table-layer careerfy-managejobs-thead">
                            <div class="careerfy-table-row">
                                <div class="careerfy-table-cell">Job Title</div>
                                <div class="careerfy-table-cell">Creator</div>
                                <!-- <div class="careerfy-table-cell">Featured</div> -->
                                <div class="careerfy-table-cell">Status</div>
                                <div class="careerfy-table-cell"></div>
                            </div>
                        </div>
                        <!-- Manage Jobs Body -->
                        <div ng-repeat="job in jobs track by $index" class="careerfy-table-layer careerfy-managejobs-tbody">
                            <div class="careerfy-table-row">
                                <div class="careerfy-table-cell">
                                    <h6><a href="/?#/job/{{job.id}}">{{job.title}}</a></h6>
                                    <ul>
                                        <li><i class="careerfy-icon careerfy-calendar"></i> Created: <span> {{job.createdAt | date:'MMM dd yyyy' :'UTC'}} </span></li>
                                        <li><i class="careerfy-icon careerfy-calendar"></i> Expiry: <span>{{job.dueDate | date:'MMM dd yyyy'}}</span></li>
                                        <li><i class="careerfy-icon careerfy-maps-and-flags"></i> {{job.address}}, {{job.city.name}}</li>
                                        <li><i class="careerfy-icon careerfy-filter-tool-black-shape"></i> <a href="">{{job.jobtype}}</a></li>
                                    </ul>
                                </div>
                                <div class="careerfy-table-cell"><a href="" class="careerfy-managejobs-appli">
                                        {{job.creator.name}}</a></div>
                                <!-- <div class="careerfy-table-cell"><i class="fa fa-star-o"></i></div> -->
                                <div class="careerfy-table-cell">
                                    <span class="careerfy-managejobs-option" ng-class="{'active': job.status === 'Active','expired': job.status === 'Expired' }">{{job.status}}</span>
                                </div>
                                <div class="careerfy-table-cell">
                                    <div class="careerfy-managejobs-links">
                                        <a href="/?#/job/{{job.id}}" target="_blank" class="careerfy-icon careerfy-view"></a>
                                        <a href="" class="careerfy-icon careerfy-edit" ng-if="job.status === 'Pending' && getcurrentUser().role =='SUPER_ADMIN' "></a>
                                        <a href="" class="careerfy-icon careerfy-rubbish" ng-click="deleteJobPost(job.id,$index)" ng-if="getcurrentUser().role =='SUPER_ADMIN' "></a>
                                        <a href="" class="careerfy-icon" ng-click="approvejobPost(job.id,$index)" ng-if="job.status === 'Pending' && getcurrentUser().role =='SUPER_ADMIN' "><i class="fa fa-check"></i> </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Manage Jobs Body -->
                    </div>
                </div>
                <!-- Pagination -->
                <div class="careerfy-pagination-blog">
                    <ul class="page-numbers">
                        <li ng-click="getManageJobsPage(currentPageNumberInJobsPage - 1)"><a class="prev page-numbers"
                                href=""><span><i class="careerfy-icon careerfy-arrows4"></i></span></a></li>
                        <li ng-repeat="pages in  [].constructor(numberOfPagesInJobsPage) track by $index "
                            ng-click="getManageJobsPage($index + 1)"><span style="cursor: pointer;" ng-class="{'current':$index + 1  === currentPageNumberInJobsPage}"
                                class="page-numbers ">{{ $index + 1 }}</span></li>
                        <li ng-show="currentPageNumberInJobsPage + 1 <= numberOfPagesInJobsPage"
                            ng-click="getManageJobsPage(currentPageNumberInJobsPage + 1)"><a class="next page-numbers"
                                href=""><span><i class="careerfy-icon careerfy-arrows4"></i></span></a></li>
                        <li ng-show="currentPageNumberInJobsPage + 1 > numberOfPagesInJobsPage"><a
                                class="next page-numbers" href=""><span><i class="careerfy-icon careerfy-arrows4"></i></span></a></li>
                    </ul>
                </div>

            </div>
        </div>
    </div>
</div>

</div>