<div class="careerfy-column-9">
        <div class="careerfy-typo-wrap">
            <div class="careerfy-employer-dasboard">
                <div class="careerfy-employer-box-section">
                    <!-- Profile Title -->
                    <div class="careerfy-profile-title">
                        <h2>Manage Jobs</h2>
                        <form class="careerfy-employer-search">
                            <input value="Search orders" onblur="if(this.value == '') { this.value ='Search orders'; }" onfocus="if(this.value =='Search orders') { this.value = ''; }" type="text">
                            <input type="submit" value="">
                            <i class="careerfy-icon careerfy-search"></i>
                        </form>
                    </div>
                    <!-- Manage Jobs -->
                    <div class="careerfy-managejobs-list-wrap">
                        <div class="careerfy-managejobs-list">
                            <!-- Manage Jobs Header -->
                            <div class="careerfy-table-layer careerfy-managejobs-thead">
                                <div class="careerfy-table-row">
                                    <div class="careerfy-table-cell">Job Title</div>
                                    <div class="careerfy-table-cell">Applications</div>
                                    <div class="careerfy-table-cell">Featured</div>
                                    <div class="careerfy-table-cell">Status</div>
                                    <div class="careerfy-table-cell"></div>
                                </div>
                            </div>
                            <!-- Manage Jobs Body -->
                            <div class="careerfy-table-layer careerfy-managejobs-tbody">
                                <div class="careerfy-table-row">
                                    <div class="careerfy-table-cell">
                                        <h6><a href="#">Computer and Information Tech</a></h6>
                                        <ul>
                                            <li><i class="careerfy-icon careerfy-calendar"></i> Created: <span>Sep 14, 2017</span></li>
                                            <li><i class="careerfy-icon careerfy-calendar"></i> Expiry: <span>Dec 9, 2017</span></li>
                                            <li><i class="careerfy-icon careerfy-maps-and-flags"></i> Netherlands, Rotterdam</li>
                                            <li><i class="careerfy-icon careerfy-filter-tool-black-shape"></i> <a href="#">Web Developer</a></li>
                                        </ul>
                                    </div>
                                    <div class="careerfy-table-cell"><a href="#" class="careerfy-managejobs-appli">4 Application(s)</a></div>
                                    <div class="careerfy-table-cell"><i class="fa fa-star-o"></i></div>
                                    <div class="careerfy-table-cell"><span class="careerfy-managejobs-option">Pending</span></div>
                                    <div class="careerfy-table-cell">
                                        <div class="careerfy-managejobs-links">
                                            <a href="#" class="careerfy-icon careerfy-view"></a>
                                            <a href="#" class="careerfy-icon careerfy-edit"></a>
                                            <a href="#" class="careerfy-icon careerfy-rubbish"></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="careerfy-table-layer careerfy-managejobs-tbody">
                                <div class="careerfy-table-row">
                                    <div class="careerfy-table-cell">
                                        <h6><a href="#">Praca przy produkcji</a></h6>
                                        <ul>
                                            <li><i class="careerfy-icon careerfy-calendar"></i> Created: <span>Sep 14, 2017</span></li>
                                            <li><i class="careerfy-icon careerfy-calendar"></i> Expiry: <span>Dec 9, 2017</span></li>
                                            <li><i class="careerfy-icon careerfy-maps-and-flags"></i> Netherlands, Rotterdam</li>
                                            <li><i class="careerfy-icon careerfy-filter-tool-black-shape"></i> <a href="#">Web Developer</a></li>
                                        </ul>
                                    </div>
                                    <div class="careerfy-table-cell"><a href="#" class="careerfy-managejobs-appli">6 Application(s)</a></div>
                                    <div class="careerfy-table-cell"><i class="fa fa-star-o"></i></div>
                                    <div class="careerfy-table-cell"><span class="careerfy-managejobs-option active">Active</span></div>
                                    <div class="careerfy-table-cell">
                                        <div class="careerfy-managejobs-links">
                                            <a href="#" class="careerfy-icon careerfy-view"></a>
                                            <a href="#" class="careerfy-icon careerfy-edit"></a>
                                            <a href="#" class="careerfy-icon careerfy-rubbish"></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="careerfy-table-layer careerfy-managejobs-tbody">
                                <div class="careerfy-table-row">
                                    <div class="careerfy-table-cell">
                                        <h6><a href="#">Lorem ipsum dolor sit amet consectetur</a></h6>
                                        <ul>
                                            <li><i class="careerfy-icon careerfy-calendar"></i> Created: <span>Sep 14, 2017</span></li>
                                            <li><i class="careerfy-icon careerfy-calendar"></i> Expiry: <span>Dec 9, 2017</span></li>
                                            <li><i class="careerfy-icon careerfy-maps-and-flags"></i> Netherlands, Rotterdam</li>
                                            <li><i class="careerfy-icon careerfy-filter-tool-black-shape"></i> <a href="#">Web Developer</a></li>
                                        </ul>
                                    </div>
                                    <div class="careerfy-table-cell"><a href="#" class="careerfy-managejobs-appli">2 Application(s)</a></div>
                                    <div class="careerfy-table-cell"><i class="fa fa-star-o"></i></div>
                                    <div class="careerfy-table-cell"><span class="careerfy-managejobs-option expired">Expired</span></div>
                                    <div class="careerfy-table-cell">
                                        <div class="careerfy-managejobs-links">
                                            <a href="#" class="careerfy-icon careerfy-view"></a>
                                            <a href="#" class="careerfy-icon careerfy-edit"></a>
                                            <a href="#" class="careerfy-icon careerfy-rubbish"></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="careerfy-table-layer careerfy-managejobs-tbody">
                                <div class="careerfy-table-row">
                                    <div class="careerfy-table-cell">
                                        <h6><a href="#">Graduate Inside Sales Representatives</a></h6>
                                        <ul>
                                            <li><i class="careerfy-icon careerfy-calendar"></i> Created: <span>Sep 14, 2017</span></li>
                                            <li><i class="careerfy-icon careerfy-calendar"></i> Expiry: <span>Dec 9, 2017</span></li>
                                            <li><i class="careerfy-icon careerfy-maps-and-flags"></i> Netherlands, Rotterdam</li>
                                            <li><i class="careerfy-icon careerfy-filter-tool-black-shape"></i> <a href="#">Web Developer</a></li>
                                        </ul>
                                    </div>
                                    <div class="careerfy-table-cell"><a href="#" class="careerfy-managejobs-appli">25 Application(s)</a></div>
                                    <div class="careerfy-table-cell"><i class="fa fa-star-o"></i></div>
                                    <div class="careerfy-table-cell"><span class="careerfy-managejobs-option">Pending</span></div>
                                    <div class="careerfy-table-cell">
                                        <div class="careerfy-managejobs-links">
                                            <a href="#" class="careerfy-icon careerfy-view"></a>
                                            <a href="#" class="careerfy-icon careerfy-edit"></a>
                                            <a href="#" class="careerfy-icon careerfy-rubbish"></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="careerfy-table-layer careerfy-managejobs-tbody">
                                <div class="careerfy-table-row">
                                    <div class="careerfy-table-cell">
                                        <h6><a href="#">Java Developer Scala Spring Linux Java</a></h6>
                                        <ul>
                                            <li><i class="careerfy-icon careerfy-calendar"></i> Created: <span>Sep 14, 2017</span></li>
                                            <li><i class="careerfy-icon careerfy-calendar"></i> Expiry: <span>Dec 9, 2017</span></li>
                                            <li><i class="careerfy-icon careerfy-maps-and-flags"></i> Netherlands, Rotterdam</li>
                                            <li><i class="careerfy-icon careerfy-filter-tool-black-shape"></i> <a href="#">Web Developer</a></li>
                                        </ul>
                                    </div>
                                    <div class="careerfy-table-cell"><a href="#" class="careerfy-managejobs-appli">150 Application(s)</a></div>
                                    <div class="careerfy-table-cell"><i class="fa fa-star-o"></i></div>
                                    <div class="careerfy-table-cell"><span class="careerfy-managejobs-option expired">Expired</span></div>
                                    <div class="careerfy-table-cell">
                                        <div class="careerfy-managejobs-links">
                                            <a href="#" class="careerfy-icon careerfy-view"></a>
                                            <a href="#" class="careerfy-icon careerfy-edit"></a>
                                            <a href="#" class="careerfy-icon careerfy-rubbish"></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="careerfy-table-layer careerfy-managejobs-tbody">
                                <div class="careerfy-table-row">
                                    <div class="careerfy-table-cell">
                                        <h6><a href="#">Overdue Accounts Officer for Audit</a></h6>
                                        <ul>
                                            <li><i class="careerfy-icon careerfy-calendar"></i> Created: <span>Sep 14, 2017</span></li>
                                            <li><i class="careerfy-icon careerfy-calendar"></i> Expiry: <span>Dec 9, 2017</span></li>
                                            <li><i class="careerfy-icon careerfy-maps-and-flags"></i> Netherlands, Rotterdam</li>
                                            <li><i class="careerfy-icon careerfy-filter-tool-black-shape"></i> <a href="#">Web Developer</a></li>
                                        </ul>
                                    </div>
                                    <div class="careerfy-table-cell"><a href="#" class="careerfy-managejobs-appli">30 Application(s)</a></div>
                                    <div class="careerfy-table-cell"><i class="fa fa-star-o"></i></div>
                                    <div class="careerfy-table-cell"><span class="careerfy-managejobs-option">Pending</span></div>
                                    <div class="careerfy-table-cell">
                                        <div class="careerfy-managejobs-links">
                                            <a href="#" class="careerfy-icon careerfy-view"></a>
                                            <a href="#" class="careerfy-icon careerfy-edit"></a>
                                            <a href="#" class="careerfy-icon careerfy-rubbish"></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Manage Jobs Body -->
                        </div>
                    </div>
                    <!-- Pagination -->
                    <div class="careerfy-pagination-blog">
                        <ul class="page-numbers">
                            <li><a class="prev page-numbers" href="#"><span><i class="careerfy-icon careerfy-arrows4"></i></span></a></li>
                            <li><span class="page-numbers current">01</span></li>
                            <li><a class="page-numbers" href="#">02</a></li>
                            <li><a class="page-numbers" href="#">03</a></li>
                            <li><a class="page-numbers" href="#">04</a></li>
                            <li><a class="next page-numbers" href="#"><span><i class="careerfy-icon careerfy-arrows4"></i></span></a></li>
                        </ul>
                    </div>

                </div>
            </div>
        </div>
    </div>

</div>