<div class="careerfy-column-9">
        <div class="careerfy-typo-wrap">
            <div class="careerfy-employer-dasboard">
                <div class="careerfy-employer-box-section">
                    <!-- Profile Title -->
                    <div class="careerfy-profile-title">
                        <h2>Manage Organizations</h2>
                        <form class="careerfy-employer-search">
                            <input value="Search orders" onblur="if(this.value == '') { this.value ='Search orders'; }" onfocus="if(this.value =='Search orders') { this.value = ''; }" type="text">
                            <input type="submit" value="">
                            <i class="careerfy-icon careerfy-search"></i>
                        </form>
                    </div>
                    <!-- Manage Jobs -->
                    <div class="careerfy-employer careerfy-employer-list">
                            <ul class="careerfy-row">
                                <li class="careerfy-column-12">
                                    <div class="careerfy-table-layer">
                                        <div class="careerfy-table-row">
                                            <div class="careerfy-table-cell"> <figure><a href="#"><img src="extra-images/employer-01.png" alt=""></a></figure> </div>
                                            <div class="careerfy-table-cell">
                                                <small>Banking</small>
                                                <h2><a href="#">Zeeva Hiring Co.</a></h2>
                                                <span><i class="fa fa-map-marker"></i> United Kingdom, London, 88 Crown Street</span>
                                            </div>
                                            <div class="careerfy-table-cell">
                                                <ul class="careerfy-employer-thumblist">
                                                    <li><a href="#"><img src="extra-images/employer-list-thumb-1.jpg" alt=""></a></li>
                                                    <li><a href="#"><img src="extra-images/employer-list-thumb-2.jpg" alt=""></a></li>
                                                    <li><a href="#"><img src="extra-images/employer-list-thumb-3.jpg" alt=""></a></li>
                                                    <li><a href="#"><img src="extra-images/employer-list-thumb-4.jpg" alt=""></a></li>
                                                </ul>
                                                <a href="#" class="careerfy-employer-thumblist-size">+3 team size</a>
                                            </div>
                                            <div class="careerfy-table-cell"> <a href="#" class="careerfy-employer-list-btn">10 Vacancies</a> </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="careerfy-column-12">
                                    <div class="careerfy-table-layer">
                                        <div class="careerfy-table-row">
                                            <div class="careerfy-table-cell"> <figure><a href="#"><img src="extra-images/employer-02.png" alt=""></a></figure> </div>
                                            <div class="careerfy-table-cell">
                                                <small>Banking</small>
                                                <h2><a href="#">Zeeva Hiring Co.</a></h2>
                                                <span><i class="fa fa-map-marker"></i> United Kingdom, London, 88 Crown Street</span>
                                            </div>
                                            <div class="careerfy-table-cell">
                                                <ul class="careerfy-employer-thumblist">
                                                    <li><a href="#"><img src="extra-images/employer-list-thumb-1.jpg" alt=""></a></li>
                                                    <li><a href="#"><img src="extra-images/employer-list-thumb-2.jpg" alt=""></a></li>
                                                    <li><a href="#"><img src="extra-images/employer-list-thumb-3.jpg" alt=""></a></li>
                                                    <li><a href="#"><img src="extra-images/employer-list-thumb-4.jpg" alt=""></a></li>
                                                </ul>
                                                <a href="#" class="careerfy-employer-thumblist-size">+3 team size</a>
                                            </div>
                                            <div class="careerfy-table-cell"> <a href="#" class="careerfy-employer-list-btn">10 Vacancies</a> </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="careerfy-column-12">
                                    <div class="careerfy-table-layer">
                                        <div class="careerfy-table-row">
                                            <div class="careerfy-table-cell"> <figure><a href="#"><img src="extra-images/employer-03.png" alt=""></a></figure> </div>
                                            <div class="careerfy-table-cell">
                                                <small>Banking</small>
                                                <h2><a href="#">Zeeva Hiring Co.</a></h2>
                                                <span><i class="fa fa-map-marker"></i> United Kingdom, London, 88 Crown Street</span>
                                            </div>
                                            <div class="careerfy-table-cell">
                                                <ul class="careerfy-employer-thumblist">
                                                    <li><a href="#"><img src="extra-images/employer-list-thumb-1.jpg" alt=""></a></li>
                                                    <li><a href="#"><img src="extra-images/employer-list-thumb-2.jpg" alt=""></a></li>
                                                    <li><a href="#"><img src="extra-images/employer-list-thumb-3.jpg" alt=""></a></li>
                                                    <li><a href="#"><img src="extra-images/employer-list-thumb-4.jpg" alt=""></a></li>
                                                </ul>
                                                <a href="#" class="careerfy-employer-thumblist-size">+3 team size</a>
                                            </div>
                                            <div class="careerfy-table-cell"> <a href="#" class="careerfy-employer-list-btn">10 Vacancies</a> </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="careerfy-column-12">
                                    <div class="careerfy-table-layer">
                                        <div class="careerfy-table-row">
                                            <div class="careerfy-table-cell"> <figure><a href="#"><img src="extra-images/employer-04.png" alt=""></a></figure> </div>
                                            <div class="careerfy-table-cell">
                                                <small>Banking</small>
                                                <h2><a href="#">Zeeva Hiring Co.</a></h2>
                                                <span><i class="fa fa-map-marker"></i> United Kingdom, London, 88 Crown Street</span>
                                            </div>
                                            <div class="careerfy-table-cell">
                                                <ul class="careerfy-employer-thumblist">
                                                    <li><a href="#"><img src="extra-images/employer-list-thumb-1.jpg" alt=""></a></li>
                                                    <li><a href="#"><img src="extra-images/employer-list-thumb-2.jpg" alt=""></a></li>
                                                    <li><a href="#"><img src="extra-images/employer-list-thumb-3.jpg" alt=""></a></li>
                                                    <li><a href="#"><img src="extra-images/employer-list-thumb-4.jpg" alt=""></a></li>
                                                </ul>
                                                <a href="#" class="careerfy-employer-thumblist-size">+3 team size</a>
                                            </div>
                                            <div class="careerfy-table-cell"> <a href="#" class="careerfy-employer-list-btn">10 Vacancies</a> </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="careerfy-column-12">
                                    <div class="careerfy-table-layer">
                                        <div class="careerfy-table-row">
                                            <div class="careerfy-table-cell"> <figure><a href="#"><img src="extra-images/employer-05.png" alt=""></a></figure> </div>
                                            <div class="careerfy-table-cell">
                                                <small>Banking</small>
                                                <h2><a href="#">Zeeva Hiring Co.</a></h2>
                                                <span><i class="fa fa-map-marker"></i> United Kingdom, London, 88 Crown Street</span>
                                            </div>
                                            <div class="careerfy-table-cell">
                                                <ul class="careerfy-employer-thumblist">
                                                    <li><a href="#"><img src="extra-images/employer-list-thumb-1.jpg" alt=""></a></li>
                                                    <li><a href="#"><img src="extra-images/employer-list-thumb-2.jpg" alt=""></a></li>
                                                    <li><a href="#"><img src="extra-images/employer-list-thumb-3.jpg" alt=""></a></li>
                                                    <li><a href="#"><img src="extra-images/employer-list-thumb-4.jpg" alt=""></a></li>
                                                </ul>
                                                <a href="#" class="careerfy-employer-thumblist-size">+3 team size</a>
                                            </div>
                                            <div class="careerfy-table-cell"> <a href="#" class="careerfy-employer-list-btn">10 Vacancies</a> </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="careerfy-column-12">
                                    <div class="careerfy-table-layer">
                                        <div class="careerfy-table-row">
                                            <div class="careerfy-table-cell"> <figure><a href="#"><img src="extra-images/employer-06.png" alt=""></a></figure> </div>
                                            <div class="careerfy-table-cell">
                                                <small>Banking</small>
                                                <h2><a href="#">Zeeva Hiring Co.</a></h2>
                                                <span><i class="fa fa-map-marker"></i> United Kingdom, London, 88 Crown Street</span>
                                            </div>
                                            <div class="careerfy-table-cell">
                                                <ul class="careerfy-employer-thumblist">
                                                    <li><a href="#"><img src="extra-images/employer-list-thumb-1.jpg" alt=""></a></li>
                                                    <li><a href="#"><img src="extra-images/employer-list-thumb-2.jpg" alt=""></a></li>
                                                    <li><a href="#"><img src="extra-images/employer-list-thumb-3.jpg" alt=""></a></li>
                                                    <li><a href="#"><img src="extra-images/employer-list-thumb-4.jpg" alt=""></a></li>
                                                </ul>
                                                <a href="#" class="careerfy-employer-thumblist-size">+3 team size</a>
                                            </div>
                                            <div class="careerfy-table-cell"> <a href="#" class="careerfy-employer-list-btn">10 Vacancies</a> </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="careerfy-column-12">
                                    <div class="careerfy-table-layer">
                                        <div class="careerfy-table-row">
                                            <div class="careerfy-table-cell"> <figure><a href="#"><img src="extra-images/employer-07.png" alt=""></a></figure> </div>
                                            <div class="careerfy-table-cell">
                                                <small>Banking</small>
                                                <h2><a href="#">Zeeva Hiring Co.</a></h2>
                                                <span><i class="fa fa-map-marker"></i> United Kingdom, London, 88 Crown Street</span>
                                            </div>
                                            <div class="careerfy-table-cell">
                                                <ul class="careerfy-employer-thumblist">
                                                    <li><a href="#"><img src="extra-images/employer-list-thumb-1.jpg" alt=""></a></li>
                                                    <li><a href="#"><img src="extra-images/employer-list-thumb-2.jpg" alt=""></a></li>
                                                    <li><a href="#"><img src="extra-images/employer-list-thumb-3.jpg" alt=""></a></li>
                                                    <li><a href="#"><img src="extra-images/employer-list-thumb-4.jpg" alt=""></a></li>
                                                </ul>
                                                <a href="#" class="careerfy-employer-thumblist-size">+3 team size</a>
                                            </div>
                                            <div class="careerfy-table-cell"> <a href="#" class="careerfy-employer-list-btn">10 Vacancies</a> </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="careerfy-column-12">
                                    <div class="careerfy-table-layer">
                                        <div class="careerfy-table-row">
                                            <div class="careerfy-table-cell"> <figure><a href="#"><img src="extra-images/employer-08.png" alt=""></a></figure> </div>
                                            <div class="careerfy-table-cell">
                                                <small>Banking</small>
                                                <h2><a href="#">Zeeva Hiring Co.</a></h2>
                                                <span><i class="fa fa-map-marker"></i> United Kingdom, London, 88 Crown Street</span>
                                            </div>
                                            <div class="careerfy-table-cell">
                                                <ul class="careerfy-employer-thumblist">
                                                    <li><a href="#"><img src="extra-images/employer-list-thumb-1.jpg" alt=""></a></li>
                                                    <li><a href="#"><img src="extra-images/employer-list-thumb-2.jpg" alt=""></a></li>
                                                    <li><a href="#"><img src="extra-images/employer-list-thumb-3.jpg" alt=""></a></li>
                                                    <li><a href="#"><img src="extra-images/employer-list-thumb-4.jpg" alt=""></a></li>
                                                </ul>
                                                <a href="#" class="careerfy-employer-thumblist-size">+3 team size</a>
                                            </div>
                                            <div class="careerfy-table-cell"> <a href="#" class="careerfy-employer-list-btn">10 Vacancies</a> </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <!-- Pagination -->
                        <div class="careerfy-pagination-blog">
                            <ul class="page-numbers">
                                <li><a class="prev page-numbers" href="#"><span><i class="careerfy-icon careerfy-arrows4"></i></span></a></li>
                                <li><span class="page-numbers current">01</span></li>
                                <li><a class="page-numbers" href="#">02</a></li>
                                <li><a class="page-numbers" href="#">03</a></li>
                                <li><a class="page-numbers" href="#">04</a></li>
                                <li><a class="next page-numbers" href="#"><span><i class="careerfy-icon careerfy-arrows4"></i></span></a></li>
                            </ul>
                        </div>
                    </div>
                            <!-- Manage Jobs Body -->
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>

</div>