<div class="careerfy-subheader careerfy-subheader-with-bg">
    <span class="careerfy-banner-transparent"></span>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="careerfy-page-title">
                    <h1>Contact Us</h1>
                </div>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
    <div class="careerfy-breadcrumb">
        <ul>
            <li><a href="/">Home</a></li>
            <li>Contact</li>
        </ul>
    </div>
</div>
<div class="careerfy-main-section careerfy-contact-form-full-section">
    <div class="container">
        <div class="row">

            <div class="col-md-12">
                <!-- <div class="careerfy-contact-info-sec">
                    <h2>Contact Information</h2>
                    <p>Ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos...</p>
                    <ul class="careerfy-contact-info-list">
                        <li><i class="careerfy-icon careerfy-placeholder"></i> International Noel Nawab Street Los
                            Alamitos CA 90720, USA</li>
                        <li><i class="careerfy-icon careerfy-mail"></i> <a href="#">Email: Info@Website.Com</a></li>
                        <li><i class="careerfy-icon careerfy-technology"></i> Call: 123.456.78910</li>
                        <li><i class="careerfy-icon careerfy-fax"></i> Fax: (800) 123 4567 89</li>
                    </ul>
                    <div class="careerfy-contact-media">
                        <a target="_blank" href="https://www.facebook.com/findintjobs" class="careerfy-icon careerfy-facebook-logo"></a>
                        <a target="_blank" href="https://twitter.com/findintjobs" class="careerfy-icon careerfy-twitter-logo"></a>
                        <a target="_blank" href="https://www.linkedin.com/groups/8799625/"class="careerfy-icon careerfy-linkedin-button"></a>
                    </div>
                </div> -->
                <div class="careerfy-contact-form" style="width: 100%">
                    <h2>We want to hear form you!</h2>
                    <form>
                        <ul>
                            <li>
                                <input type="text" required placeholder="Enter Your Name" ng-model="form.name">
                                <i class="careerfy-icon careerfy-user"></i>
                            </li>
                            <li>
                                <input placeholder="Subject"  required type="text" ng-model="form.subject">
                                <i class="careerfy-icon careerfy-user"></i>
                            </li>
                            <li>
                                <input placeholder="Enter Your Email Address" required type="text" ng-model="form.email">
                                <i class="careerfy-icon careerfy-mail"></i>
                            </li>
                            <li>
                                <input placeholder="Enter Your Phone Number" required type="text"ng-model="form.phoneNumber">
                                <i class="careerfy-icon careerfy-technology"></i>
                            </li>
                            <li class="careerfy-contact-form-full">
                                <textarea required placeholder="Write your message" ng-model="form.description"></textarea>
                            </li>
                            <li><input type="submit" value="Submit" ng-click="sendMail()"></li>
                        </ul>
                    </form>
                </div>
            </div>

        </div>
    </div>
</div>