<!-- SubHeader -->
<div class="careerfy-subheader">
    <span class="careerfy-banner-transparent"></span>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="careerfy-page-title">
                    <!-- <h1>Jobs For Good Programmers</h1> -->
                    <!-- <p>Yes! You make or may not find the right job for you, but that’s ok.</p> -->
                </div>
            </div>
        </div>
    </div>
</div>
<!-- SubHeader -->

<!-- Main Content -->
<div class="careerfy-main-content">

    <!-- Main Section -->
    <div class="careerfy-main-section careerfy-subheader-form-full">
        <div class="container">
            <div class="row">

                <div class="col-md-12 careerfy-typo-wrap">
                    <!-- Sub Header Form -->
                    <div class="careerfy-subheader-form">
                        <form class="careerfy-banner-search">
                            <ul class="col-md-10">
                                <li>
                                    <input placeholder="Job Title" type="text" class="jobTitle_typeahead"
                                        ng-model="selectedJobTitle.title">
                                </li>
                                <li>
                                    <input placeholder="Duty Station" type="text" class="city_typeahead"
                                        ng-model="selectedDutyStation.name">
                                    <i class="careerfy-icon careerfy-location"></i>
                                </li>
                                <li>
                                    <div class="careerfy-select-style">
                                        <select ng-options="value.name for value in gradesFilter track by value.id"
                                            ng-model="selectedGradeFilter" ng-change="getJobs()">
                                        </select>
                                    </div>
                                </li>
                                <li class="careerfy-banner-submit"> <button ng-click="getJobs()"> <i
                                            class="careerfy-icon careerfy-search"></i>
                                </li>
                            </ul>
                            <ul class="col-md-10">
                                <li>
                                    <input placeholder="Organization" type="text" class="org_typeahead"
                                        ng-model="selectedOrg.name">
                                </li>
                                <li>
                                    <div class="careerfy-checkbox" style="width: auto; margin-left: 10px;">
                                        <input type="checkbox" id="closingSoon" ng-model="closingSoon"
                                            ng-change="getJobs()" />
                                        <label for="closingSoon"><span></span> Closing soon</label>
                                    </div>

                                </li>
                                <li>
                                    <div class="careerfy-checkbox" style="width: auto; margin-left: 10px;">
                                        <input type="checkbox" id="closed" ng-model="closed" ng-change="getJobs()" />
                                        <label for="closed"><span></span> Closed</label>
                                    </div>
                                </li>
                                <li>

                                </li>
                                <!-- <li class="careerfy-banner-submit"> <button ng-click="getJobs()"> <i class="careerfy-icon careerfy-search"></i>
                                    </li> -->
                            </ul>
                        </form>
                    </div>
                    <!-- Sub Header Form -->
                </div>

            </div>
        </div>
    </div>
    <!-- Main Section -->

    <!-- Main Section -->
    <div class="careerfy-main-section">
        <div class="container">
            <div class="row">

                <div class="careerfy-column-12 careerfy-typo-wrap">
                    <!-- FilterAble -->
                    <!-- <div class="widget widget_add">
                        <img src="assets/extra-images/banner-bg - Copy.jpg" alt="">
                    </div> -->
                    <!-- <div class="careerfy-filterable" ng-if="jobs.length > 0">
                        <h2>Showing {{startIndexOfJobs}}-{{endIndexOfJobs}} of {{jobsCount}} results</h2> -->
                    <!-- <ul>
                            <li>
                                <i class="careerfy-icon careerfy-sort"></i>
                                <div class="careerfy-filterable-select">
                                    <select>
                                        <option>Sort</option>
                                        <option>Sort</option>
                                        <option>Sort</option>
                                    </select>
                                </div>
                            </li>
                            <li><a href="#"><i class="careerfy-icon careerfy-squares"></i> Grid</a></li>
                            <li><a href="#"><i class="careerfy-icon careerfy-list"></i> List</a></li>
                        </ul> -->
                    <!-- </div> -->
                    <!-- FilterAble -->
                    <!-- JobGrid -->
                    <div class="careerfy-job careerfy-job-grid error-template" ng-if="jobs.length == 0">
                        <h2>
                            Sorry, No results found.</h2>
                        <div class="error-details">
                            There is no results matched your search criteria!
                        </div>
                    </div>
                    <div class="careerfy-job careerfy-job-grid" ng-if="jobs.length > 0">
                        <ul class="careerfy-row" ng-repeat="row in rows track by $index">
                            <!--                                 
                            <li class="careerfy-column-4">
                                <div class="careerfy-job-grid-wrap"  style="height: 100%;">
                                    <img src="assets/extra-images/candidate-detail-two-1.jpg" alt="">
                                </div>
                            </li> -->
                            <li class="careerfy-column-4" ng-repeat="job in row track by $index">
                                <!-- <div class="careerfy-job-grid-wrap"  ng-if="job.type">
                                    <img src="assets/extra-images/candidate-detail-two-1.jpg" alt="">
                                </div> -->
                                <div class="careerfy-job-grid-wrap" ng-if="!job.type">
                                    <figure>
                                        <span class="careerfy-jobtype-label"
                                            ng-style="{'background-color':job.degree.color}">{{job.degree.name}}</span>
                                        <a target="_blank" href="/?#/job/{{job.id}}"><img
                                                ng-src="/uploads/{{job.organization.mainImage.path}}"
                                                alt="{{job.organization.mainImage.altValue}}"></a>
                                        <!-- <span class="careerfy-featured-label">Featured</span> -->
                                    </figure>
                                    <div class="careerfy-jobgrid-text">
                                        <div class="careerfy-job-tag"><a target="_blank"
                                                href="/?#/organization/{{job.organization.id}}">{{job.organization.name}}</a>
                                        </div>
                                        <h2><a target="_blank" href="/?#/job/{{job.id}}">{{job.title}}</a></h2>
                                        <ul class="careerfy-job-time">
                                            <!-- <li><a href="#">Sales & Marketing</a></li> -->
                                            <li>{{job.DateDifference}}</li>
                                        </ul>
                                        <span class="careerfy-job-location" ng-if="job.city"><i
                                                class="careerfy-icon careerfy-maps-and-flags"></i>
                                            <span ng-if="job.city.name">{{job.city.name}}, </span><span
                                                ng-if="job.city.country && job.city.country.name">{{job.city.country.name}}</span></span>
                                        <!-- <a href="#" class="careerfy-job-like"><i class="fa fa-heart"></i></a> -->
                                    </div>
                                </div>
                            </li>
                            <!-- <li class="careerfy-column-4">
                                <div class="careerfy-job-grid-wrap" style="height: 100%;">
                                    <img src="assets/extra-images/candidate-detail-two-1.jpg" alt="">
                                </div>
                            </li> -->
                        </ul>
                    </div>
                    <!-- Pagination -->
                    <div class="careerfy-pagination-blog" ng-if="jobs.length > 0">
                        <!-- <ul class="page-numbers">
                                        <li><a class="prev page-numbers" href="#"><span><i class="careerfy-icon careerfy-arrows4"></i></span></a></li>
                                        <li><span class="page-numbers current">01</span></li>
                                        <li><a class="page-numbers" href="#">02</a></li>
                                        <li><a class="page-numbers" href="#">03</a></li>
                                        <li><a class="page-numbers" href="#">04</a></li>
                                        <li><a class="next page-numbers" href="#"><span><i class="careerfy-icon careerfy-arrows4"></i></span></a></li>
                                    </ul> -->
                        <ul class="page-numbers">
                            <li ng-click="getJobs(currentPageNumberInJobsPage - 1)" ng-if="currentPageNumberInJobsPage > 1"><a class="prev page-numbers"
                                    href=""><span><i class="careerfy-icon careerfy-arrows4"></i></span></a></li>
                            <li ng-repeat="pages in  preparePagination() track by $index "
                                ng-click="getJobs(startPage + $index)"><span style="cursor: pointer;"
                                    ng-class="{'current':startPage + $index  === currentPageNumberInJobsPage}"
                                    class="page-numbers ">{{startPage + $index }}</span></li>
                            <li ng-show="currentPageNumberInJobsPage < numberOfPagesInJobsPage"
                                ng-click="getJobs(currentPageNumberInJobsPage + 1)"><a class="next page-numbers"
                                    href=""><span><i class="careerfy-icon careerfy-arrows4"></i></span></a></li>
                            <!-- <li ng-show="currentPageNumberInJobsPage + 1 > numberOfPagesInJobsPage"><a
                                    class="next page-numbers" href=""><span><i
                                            class="careerfy-icon careerfy-arrows4"></i></span></a></li> -->
                        </ul>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <!-- Main Section -->

</div>
<!-- Main Content -->