<!-- SubHeader -->
<div class="careerfy-subheader careerfy-subheader-with-bg">
    <span class="careerfy-banner-transparent"></span>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="careerfy-page-title">
                    <h1>About Us</h1>
                    <p>Thousands of prestigious employers for you, search for a recruiter right now.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
    <div class="careerfy-breadcrumb">
        <ul>
            <li><a href="/">Home</a></li>
            <li>About Us</li>
        </ul>
    </div>
</div>
<!-- SubHeader -->

<!-- Main Content -->
<div class="careerfy-main-content">
    
    <!-- Main Section -->
    <div class="careerfy-main-section careerfy-about-text-full">
        <div class="container">
            <div class="row">

                <div class="col-md-6 careerfy-typo-wrap">
                    <div class="careerfy-about-text">
                        <h2>About Find Int Jobs</h2>
                        <span class="careerfy-about-sub">FindIntJobs.com is an international service for searching vacancies, jobs, and other careers opportunity in international NGOs and United Nations agencies.</span>
                        <p>FindIntJobs.com - is a non-UN agency and not an official document of the United Nations. Our service crawls jobs and internships from all UN agencies web sites, biggest NGOs sites and publishes them in one place. Now there is no need to look into every UN agencies’ and INGO web sites, we have already done it for you. All jobs and internships are in one place.</p>
                        <p>We strongly highlight that findIntJobs.com does not take any fees or pay for their service. Everything is FREE.</p>
                        <p>Now service operates more than 200 international organizations. The number of vacancies more than 10,000+.</p>
                        <p>A team of professionals, who previously worked for different UN agencies and INGOs, creates this service. We have already known how to start the career in UN and INGO from the bottom position and to become successful. Our social aim is to share our knowledge among others to help be a part of the UN/INGO system for the global social benefit.</p>
                        <p><We would like to receive your feedback about our service at findintjobs@gmail.com or through our social media pages /p>
                        <a href="/" class="careerfy-static-btn careerfy-bgcolor"><span>Search Jobs</span></a>
                    </div>
                </div>
                <div class="col-md-6 careerfy-typo-wrap"><div class="careerfy-about-thumb"><img src="assets/extra-images/about-us-thumb.png" alt=""></div></div>
            </div>
        </div>
    </div>
    <!-- Main Section -->
</div>
<!-- Main Content -->