<!-- SubHeader -->
<div class="careerfy-job-subheader">
    <span class="careerfy-banner-transparent"></span>
    <div class="container">
        <div class="row">
            <div class="col-md-12">

            </div>
        </div>
    </div>
</div>
<!-- SubHeader -->
<div class="careerfy-main-content">

    <!-- Main Section -->
    <div class="careerfy-main-section">
        <div class="container">
            <div class="row">

                <!-- Job Detail List -->
                <div class="careerfy-column-12">
                    <div class="careerfy-typo-wrap">
                        <figure class="careerfy-jobdetail-list">
                            <span class="careerfy-jobdetail-listthumb">
                                <img ng-if="job.organization.mainImage.path" ng-src="/uploads/{{job.organization.mainImage.path}}"
                                    alt="{{job.organization.mainImage.altValue}}">
                                    <img ng-if="!job.organization.mainImage.path" ng-src="thumb.jpg" >
                                </span>
                            <figcaption>
                                <h2>{{job.title}}</h2>
                                <span><small ng-if="job.degree" class="careerfy-jobdetail-type">{{job.degree}}</small>
                                    <a href="/?#/organization/{{job.organization.id}}">{{job.organization.name}}</a>
                                    <small class="careerfy-jobdetail-postinfo">{{job.createdAt | date:'MMM dd yyyy'
                                        :'UTC'}}</small></span>
                                <ul class="careerfy-jobdetail-options">
                                    <li ng-if="job.address || job.city.name || job.country.name"><i class="fa fa-map-marker"></i> <span ng-if="job.address" style="display: inline">{{job.address}}, </span><span ng-if="job.city.name" style="display: inline">{{job.city.name}}, </span><span ng-if="job.country.name" style="display: inline">{{job.country.name}}</span> 
                                    </li>
                                    <li><i class="careerfy-icon careerfy-calendar"></i> Post Date: {{job.postedDate |
                                        date:'MMM dd yyyy' :'UTC'}}</li>
                                    <li><i class="careerfy-icon careerfy-calendar"></i> Apply Before: {{job.dueDate |
                                        date:'MMM dd yyyy' :'UTC'}}</li>

                                </ul>
                                <!-- <a href="#" class="careerfy-jobdetail-btn active"><i class="careerfy-icon careerfy-add-list"></i>
                                    Shortlist</a> -->
                                <a href="#" class="careerfy-jobdetail-btn"><i class="careerfy-icon careerfy-envelope"></i>
                                    Email Job</a>
                                <ul class="careerfy-jobdetail-media">
                                    <li><span>Share:</span></li>
                                    <li><a href="#" data-original-title="facebook" class="careerfy-icon careerfy-facebook-logo-in-circular-button-outlined-social-symbol"></a></li>
                                    <li><a href="#" data-original-title="twitter" class="careerfy-icon careerfy-twitter-circular-button"></a></li>
                                    <li><a href="#" data-original-title="linkedin" class="careerfy-icon careerfy-linkedin"></a></li>
                                </ul>
                            </figcaption>
                        </figure>
                    </div>
                </div>
                <!-- Job Detail List -->

                <!-- Job Detail Content -->
                <div class="careerfy-column-8">
                    <div class="careerfy-typo-wrap">
                        <div class="careerfy-jobdetail-content" ng-if="job.sections.length > 0">
                            <div ng-repeat="section in job.sections" >
                                <div class="careerfy-content-title">
                                    <h2>{{section.title}}</h2>
                                </div>
                                <div class="careerfy-description">
                                    <p>{{section.description}}</p>
                                    <ul class="careerfy-list-style-icon">
                                        <li ng-repeat="point in section.points" ng-if="point.title != ''"><i class="careerfy-icon careerfy-arrows22"></i>{{point.title}}</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="careerfy-content-title" ng-if="job.tags.length > 0">
                                <h2>Job tags</h2>
                            </div>
                            <div class="careerfy-jobdetail-tags">
                                <a ng-repeat="tag in job.tags" href="">{{tag.tagName}}</a>
                            </div>
                        </div>
                        <div class="careerfy-section-title" ng-if="relatedJobs.length > 0 ">
                            <h2>Other jobs you may like</h2>
                        </div>
                        <div class="careerfy-job careerfy-joblisting-classic careerfy-jobdetail-joblisting" ng-if="relatedJobs.length > 0 ">
                            <ul class="careerfy-row">
                                <li class="careerfy-column-12" ng-repeat="job in relatedJobs track by job.id">
                                    <div class="careerfy-joblisting-classic-wrap">
                                        <figure><a href="/?#/job/{{job.id}}"><img ng-src="/uploads/{{job.mainImagePath}}" alt=""></a></figure>
                                        <div class="careerfy-joblisting-text">
                                            <div class="careerfy-list-option">
                                                <h2><a href="/?#/job/{{job.id}}">{{job.title}}</a> </h2>
                                                <ul>
                                                    <li><a href="/?#/organization/{{job.orgId}}">@ {{job.orgName}}</a></li>
                                                    <li ng-if="job.address || job.cityName"><i class="careerfy-icon careerfy-maps-and-flags"></i>
                                                        <span ng-if="job.address">{{job.address}}, </span><span ng-if="job.cityName">{{job.cityName}}</span></li>
                                                </ul>
                                            </div>
                                            <div class="careerfy-job-userlist">
                                                <a href="#" class="careerfy-option-btn" style="background-color:{{job.degreeColor}} !important;">{{job.degreeName}}</a>
                                            </div>
                                            <div class="clearfix"></div>
                                        </div>
                                    </div>
                                </li>
                                
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- Job Detail Content -->
                <!-- Job Detail SideBar -->
                <aside class="careerfy-column-4">
                    <div class="careerfy-typo-wrap">
                        <div class="widget widget_apply_job" ng-if="job.jobUrl">
                            <div class="widget_apply_job_wrap">
                                <a target="_blank" href="{{job.jobUrl}}" class="careerfy-applyjob-btn">Apply for the job</a>
                               <span id="time"></span>
                            </div>
                        </div>
                        <div class="widget jobsearch_widget_map" ng-if="job.city && job.city.lat && job.city.long">
                                <input type="hidden" id="lat" value="{{job.city.lat}}"></input>
                                <input type="hidden" id="long" value="{{job.city.long}}"></input>
                                <input type="hidden" id="zoom" value="10"></input>

                                <div style="width: 100%; height: 480px" id="mapContainer"></div>                  
                        </div>
                        <!-- <div class="widget widget_add">
                            <img src="assets/extra-images/jobdetail-add.jpg" alt="">
                        </div> -->
                        <div class="widget widget_view_jobs" ng-if="job.organization.jobs.length > 0">
                            <div class="careerfy-widget-title">
                                <h2>More Jobs from {{job.organization.name}}</h2>
                            </div>
                            <ul>
                                <li ng-repeat="job in job.organization.jobs">
                                    <h6><a href="/?#/job/{{job.id}}">{{job.title}}</a></h6>
                                    <span>{{job.jobtype}}</span>
                                    <small ng-if="job.address || job.city"><span ng-if="job.address" style="display: inline">{{job.address}}, </span><span ng-if="job.city.name" style="display: inline">{{job.city.name}}</span></small>
                                </li>
                            </ul>
                            <a href="" class="widget_view_jobs_btn">View all jobs <i class="careerfy-icon careerfy-arrows32"></i></a>
                        </div>
                    </div>
                </aside>
                <!-- Job Detail SideBar -->

            </div>
        </div>
    </div>
    <!-- Main Section -->

</div>